.main {
    margin: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}

body {
    background-color: #efefef;
}

.btn-publish {
    float: right;
    margin-bottom: 20px;
}

.media-border {
    margin-bottom: 15px;
}

.underline {
    padding-bottom: 15px;
    border-bottom: 2px solid #efefef;
    width: 95%;
}

.underline-up {
    border-bottom: 2px solid #efefef;
}


.text-class {
    font-size: 12px;
    color: #efefef;
}

.mar-lef {
    margin-left: 20px;
}

.bor-lef {
    margin-left: 0px;
    border-left: 2px solid #efefef;
    height: 750px;
}

.course{
    color: #155faa;
}

.course-2{
    color: #999999;
}
.list-group-back-color{
    background-color: #3f9bea;
}
.question-padding-lef{
    padding-left: 30px;
}

.jumbotron{
    margin-left: 50px;

}
.btn-success-fuifu{
    margin-top: 20px;
    float: right;
}